:root{
    --cor_fundo: #D6D6D6;
    --cor_destaque: #6B6B6B;
    --cor_secundaria: #ffffff;
    --margem:50px 0px
}

body{
    background-color: var(--cor_secundaria);
}

.lateral_menu{
    width: 40vw;
    background-color: var(--cor_destaque);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:absolute;
    left: -40vw
}

.header_container {
    display: flex;
    background-color: var(--cor_destaque);
    justify-content: space-between;
    padding: 20px;
}

.lateral_menu a{
    padding: 20px 30px;
}

.lateral_menu--active{
    left: 0vw;
}

.lateral_menu :hover{
    color: var(--cor_secundaria);
}

.colection_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.colection img{
    width: 100vw;
    height: 50vw;
    background-color: var(--cor_destaque);
}

.colection h1{
    padding-block: 20px;
    font-size: 38px;
}

.selectors span{
    font-size: 15px;
}

.liked_menu{
    width: 40vw;
    background-color: var(--cor_destaque);
    min-height: 25vh;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    position:absolute;
    margin-left: 60vw;
}

.header_container button:hover{
    color: var(--cor_secundaria);
}

.liked_menu--active{
    display: flex;
}

.liked_menu_item{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.liked_menu_item :hover{
    color: var(--cor_secundaria);
}

.liked_item :hover{
    color: var(--cor_secundaria);
}

.more_items{
    text-align: center;
    padding: 10px;
    border: solid #000000 1px;
}

.promo_item{
    align-items: center;
    flex-direction: column;
    display: flex;
}

.promo_item img{
    width: 80vw;
    height: 50vw;
    margin-bottom: 30px;
}