{% extends "template.html" %}
{% block conteudo %}

<section class="acessorio colares">
    <h1>Colares</h1>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
    <div class="produto">
        <img class="produtoimage"src="../static/produto.jpg" alt="slide 1">
        <p>produto 1</p>
        <p>R$ 25,50</p>
    </div>
</section>

{% endblock %}