<!DOCTYPE html>

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/cabeca.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/colection.css">
    <link rel="stylesheet" href="/static/carossel.css">
    <link rel="stylesheet" href="../static/destaque.css">
    <title>joycebiju</title>
</head>

<body>
    <header>
        <button class="header_menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="50" width="50"><path d="M5.15 37.4v-4.7h37.7v4.7Zm0-11.05v-4.7h37.7v4.7Zm0-11.05v-4.75h37.7v4.75Z"/></svg>
            <h1 class="menutext">Menu</h1>
        </button>

        <a href="/" class="logo">Logo</a>

        <a href="/colecao" class="colection"><h1>Coleções</h1></a>
        <a href="/destaque" class="highlights"><h1>Destaques</h1></a>
        <a href="/favorito" class="favorites"><h1>Favoritos</h1></a>
        <a href="/contato" class="contact"><h1>Contato</h1></a>

        <div class="right">
        <input type= "search" class="search" placeholder="Buscar">
        <button class="header_liked"><svg xmlns="http://www.w3.org/2000/svg" height="50" width="50"><path d="m23.95 43.65-2.9-2.6q-5.45-5-8.975-8.625-3.525-3.625-5.625-6.5t-2.925-5.25Q2.7 18.3 2.7 15.85q0-5.05 3.375-8.45Q9.45 4 14.45 4q2.8 0 5.2 1.2 2.4 1.2 4.3 3.55 2.2-2.5 4.5-3.625t5-1.125q5.05 0 8.45 3.4 3.4 3.4 3.4 8.45 0 2.45-.825 4.8-.825 2.35-2.925 5.225-2.1 2.875-5.65 6.525-3.55 3.65-9 8.65Zm0-6.2q5-4.65 8.225-7.9 3.225-3.25 5.1-5.675 1.875-2.425 2.6-4.325.725-1.9.725-3.7 0-3.1-2-5.125T33.5 8.7q-2.45 0-4.575 1.6t-3.475 4.4h-3q-1.3-2.8-3.45-4.4-2.15-1.6-4.55-1.6-3.05 0-5.025 2-1.975 2-1.975 5.15 0 1.9.75 3.825.75 1.925 2.625 4.375t5.05 5.675q3.175 3.225 8.075 7.725Zm.1-14.4Z"/></svg></button>
        </div>

    </header>

    <nav class="lateral_menu">
        
        <input type= "search" class="search1" placeholder="Buscar">

        <a href="/" class="lateral_menu__link lateral_menu__link--inicio lateral_menu__link--active">inicio</a>
        
        <a href="/colecao" class="lateral_menu__link lateral_menu__link--colecoes">coleções</a>

        <a href="/destaque" class="lateral_menu__link lateral_menu__link--destaque">destaque</a>
        
        <a href="/pulseira" class="lateral_menu__link lateral_menu__link--pulseiras">pulseiras</a>
        
        <a href="/colar" class="lateral_menu__link lateral_menu__link--colares">colares</a>
        
        <a href="/brinco" class="lateral_menu__link lateral_menu__link--brincos">brincos</a>
        
        <a href="/contato" class="lateral_menu__link lateral_menu__link--sobrenos">contato</a>
    </nav>

    <nav class="liked_menu">
        
        {% for produto in produtos %}
        <div class="liked_menu_item liked_menu-1">
            <a href="#" class="liked_item"><h1>{{ produto.nome }}</h1> <h1>R$ {{ produto.preco }}</h1></a>
        </div>
        {% endfor %}
        
        <div class="more_items">
            <a href="/favorito" class="liked_item">exibir todos os itens...</a>
        </div>
    </nav>

    <main>

    {% block conteudo %} {% endblock %}

</main>
    
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        slidesPerView: 3,
      });
</script>

<script src="../static/index.js"></script>

</body>

</html>