:root h1, a{
    font-size: 40px;
    font-family: inter;
    color: #ffffff;
}

svg{
    fill: #ffffff;
}

header{
    display: flex;
    width: 100vw;
    background-color: #5A5A5A;
    height: 65px;
    align-items: center;
    justify-content: space-between;
}

.header_menu{
    display: flex;
    flex-direction: row;
}

.menutext{
    display: none;
}


.right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search{
    display: none;
}

.colection{
    display: none;
}

.highlights{
    display: none;
}

.favorites{
    display: none;
}

.contact{
    display: none;
}

.lateral_menu{
    width: 50vw;
    background-color: #5A5A5A;
    height: 100%;
    display: flex;
    flex-direction: column;
    position:absolute;
    left: -50vw
}

.search1{
        border: solid #ffffff 3px ;
        border-radius: 25px;
        background-color: transparent;
        height: 40px;
        color: #ffffff;
        margin: 20px 30px;
        padding-left: 15px;
}

.lateral_menu a{
    padding: 20px 30px;
}

.lateral_menu--active{
    left: 0vw;
    z-index: 950;
}

.liked_item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
}

.liked_item h1{
    font-size: 20px;
}

.liked_menu_item{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.more_items{
    text-align: center;
    padding: 10px;
}

.liked_menu{
    width: 40vw;
    background-color: #5A5A5A;
    min-height: 25vh;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    position:absolute;
    margin-left: 60vw;
}

.liked_menu--active{
    display: flex;
    z-index: 950;
}


@media screen and (min-width: 810px) {
    .search1{
        display: none;
    }

    .menutext{
        display: block;
    }

    .menubutton svg{
        padding-right: 10px;
    } 
    
    .search{
        border: solid #ffffff 3px ;
        border-radius: 25px;
        background-color: transparent;
        width: 175px;
        height: 40px;
        color: #ffffff;
        margin-right: 20px;
        padding-left: 15px;
        display: block;
    }
    
}

@media screen and (min-width: 1080px) {
    .header_menu, .menutext{
        display: none;
    }

    .header_liked{
        display: none;
    }

    .colection, .highlights, .favorites, .contact{
        display: flex;
    }

    .colection svg, .highlights svg, .favorites svg{
        fill: #7B7B7B;
        padding-top: 5px;
    }

    .logo{
        padding-left: 10px;
    }
}




