.acessorio{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
}

.produtoimage{
    border-radius: 20%;
    max-width: 15vw;
}

.acessorio h1{
    color: #7B7B7B;
    width: 100vw;
    text-align: justify;
}